{
"plugins": ["prettier-plugin-astro"],
"parser": "typescript",
"printWidth": 80,
"semi": true,
"tabWidth": 2,
"trailingComma": "all",
"overrides": [
    {
    "files": "*.astro",
    "options": {
        "parser": "astro"
    }
    }
]
}